.footer {
  padding: 70px 0px 40px 0px;
  background-color: var(--black);
  color: white;
  &__grid {
  }
  &__nav {
  }
  &__nav-item {
  }
  &__nav-title {
  }
  &__list {
  }
  &__main {
  }
  &__logo {
  }
  &__item {
    .title {
    }
    .tel {
    }
    .mail {
    }
    .social-item {
    }
    .text {
    }
    .text-gray {
    }
  }
}