@use "../base/templates" as *;
@use "../base/media" as *;

.s-blog {
  @include laptop-middle {
    overflow: hidden;
  }
  &__slider {
    @include laptop-middle {
      overflow: visible !important;
    }
    .swiper-slide {
      box-sizing: border-box;
      height: auto !important;
      width: calc(25% - 15px) !important;
      max-width: 100%;

      @include laptop-middle {
        width: 350px !important;
      }

      &:first-child {
        width: calc(50% - 10px) !important;
        @include laptop-middle {
          width: 600px !important;
        }
      }

      .card-article-big,
      .card-article {
        height: 100%;
      }
    }
  }
  &__btn {
    margin: 30px auto 0 auto;
    @media (min-width: 768px) {
      display: none !important;
    }
    @include tablet-min {
      width: 100%;
    }
  }
}
