@use '../base/templates' as *;
@use '../base/media' as *;

.s-cases {
  @include laptop {
    overflow: hidden;
    padding-bottom: 30px;
  }
  @include laptop-min {
    padding-bottom: 0;
  }

  &__slider {
    margin: -30px -15px !important;
    padding: 30px 15px !important;
    @include laptop {
      padding: 0 !important;
      margin: 0 !important;
      overflow: visible !important;
    }
    .swiper-slide {
      box-sizing: border-box;
      @include laptop {
        width: 800px !important;
        max-width: 100%;
      }

      .card-case {
        height: 100%;
      }
    }
  }
  
}
