@use "../base/templates" as *;
@use "../base/media" as *;

.s-connect {
  &__body {
    position: relative;
    display: flex;
    padding: 90px 60px;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--primary);
    color: white;
    gap: 30px;
    z-index: 1;
    @include desktop {
      padding: 60px 30px;
    }
    @include laptop {
      flex-wrap: wrap;
    }
    @include laptop-min {
      padding: 40px 30px;
      border-radius: 24px;
    }
    @include tablet {
      padding: 30px 20px;
    }
  }
  &__rects {
    position: absolute;
    display: block;
    pointer-events: none;
    top: -50px;
    left: -40px;
    width: 320px;
    z-index: -1;
    @include laptop-min {
      width: 250px;
      top: 0;
      left: 0;
    }
  }
  &__arrow {
    position: absolute;
    display: block;
    pointer-events: none;
    right: -125px;
    top: -70px;
    width: 565px;
    z-index: -1;

    @include laptop-min {
      width: 300px;
      right: -60px;
      top: auto;
      bottom: -30px;
    }
  }
  &__title {
    flex: 0 1 600px;
    @include laptop {
      flex: auto;
      width: 100%;
    }
    span {
      color: var(--black);
    }
  }
  &__form {
    flex: 0 1 1010px;
    @include laptop {
      flex: auto;
      width: 100%;
    }

    .check-wrapper {
      margin-top: 15px;
    }
  }
  &__form-wrapper {
    display: flex;
    gap: 10px;

    @include tablet {
      flex-direction: column;
    }

    .input-control {
      flex: 1;
    }
    @include tablet {
      input[type="submit"],
      button[type="submit"] {
        width: 100%;
      }
    }
  }
}
