@use "../base/templates" as *;
@use "../base/media" as *;

.s-decisions {
  position: relative;
  z-index: 1;
  &:not(._simple) {
    margin-top: 0 !important;
    padding-top: 90px;
    @include laptop-middle {
      padding-top: 80px;
    }
    @include laptop-min {
      padding-top: 60px;
    }
  }
  &__circles-decor {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;

    @include laptop-middle {
      flex-wrap: wrap;
    }
  }
  &__main {
    position: sticky;
    top: 170px;
    flex: 0 1 810px;
    @include laptop-middle {
      position: static;
      display: flex;
      flex-direction: column;
      flex: auto;
    }

    &._static {
      position: static;
    }

    .tabs-nav {
      max-width: 600px;
      @include laptop-middle {
        order: 2;
      }
    }
  }
  &__title {
    margin-bottom: 30px;
    @include laptop-middle {
      order: 0;
    }
  }
  &__tabs {
    flex: 0 1 900px;
    @include laptop-middle {
      flex: auto;
    }
  }
  &__gallery {
    position: relative;
    margin-top: 50px;
    z-index: 1;
    @include laptop-middle {
      margin-top: 0;
      margin-bottom: 30px;
      order: 1;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 30px;
      box-shadow:
        5px 11px 26px 0 rgba(0, 0, 0, 0.1),
        19px 43px 47px 0 rgba(0, 0, 0, 0.09),
        42px 97px 64px 0 rgba(0, 0, 0, 0.05),
        74px 173px 75px 0 rgba(0, 0, 0, 0.01),
        116px 271px 82px 0 rgba(0, 0, 0, 0);
      z-index: -1;
    }
  }
  &__gallery-img {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    max-width: none;
    width: 930px;

    @include desktop {
      width: 760px;
    }
    @include laptop {
      width: 650px;
    }
    @include laptop-middle {
      position: static;
      width: 930px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__tableware-decor {
    position: absolute;
    display: block;
    pointer-events: none;
    bottom: 35px;
    left: -40px;
  }
}
