@use "../base/templates" as *;
@use "../base/media" as *;

.s-faq {
  position: relative;
  z-index: 1;
  &__decor {
    position: absolute;
    right: 0;
    top: -70px;
    pointer-events: none;
    z-index: -1;
    @include tablet-min {
      top: 0;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include laptop-min {
      grid-template-columns: 1fr;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__spoller {
    padding: 30px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px 0 rgba(8, 25, 88, 0.1);
    background: rgba(255, 255, 255, 0.5);
    padding: 30px;

    @include laptop-middle {
      padding: 20px;
    }
    @include tablet {
      padding: 10px;
      border-radius: 16px
    }
  }
  &__spoller-btn {
    @include flex-between;
    padding: 20px;
    cursor: pointer;
    gap: 20px;

    font-weight: 600;
    font-size: 20px;
    line-height: 150%;

    @include tablet {
      font-size: 18px;
      padding: 15px;
    }

    &._spoller-active {
      svg {
        transform: rotate(180deg);
      }
    }

    svg {
      width: 15px;
      height: 15px;
      flex-shrink: 0;
      color: var(--primary);

      transition: transform 0.3s ease;
    }
  }
  &__spoller-body {
    padding: 10px 20px 20px 20px;
    @include tablet {
      padding: 0px 15px 15px 15px;
    }
  }
}
