@use "../base/templates" as *;
@use "../base/media" as *;

.s-hero {
  position: relative;
  display: flex;
  // align-items: center;
  padding-top: 155px;
  color: white;
  min-height: 800px;
  border-radius: 0px 0px 50px 50px;
  overflow: hidden;
  z-index: 1;
  @include laptop {
    padding-top: 150px;
  }
  @include laptop-middle {
    padding-top: 140px;
    min-height: 600px;
    border-radius: 0px 0px 30px 30px;
  }
  @include laptop-min {
    padding-top: 70px;
    border-radius: 0px 0px 25px 25px;
    padding-bottom: 30px;
  }
  @include tablet {
    border-radius: 0px 0px 20px 20px;
  }
  .breadcrumbs {
    margin-bottom: 20px;
    .container {
      padding: 0;
    }
  }
  &__decor {
    position: absolute;
    pointer-events: none;
    top: 50%;
    transform: translateY(-50%);
    right: 245px;
    z-index: -1;
    @include laptop {
      right: 50%;
      transform: translate(50%, -50%);
    }
  }
  &__body {
    padding-bottom: 50px;
    @include laptop-min {
      padding-bottom: 25px;
    }
  }
  &__inside {
    @include flex-between;
    gap: 30px;
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__wrapper {
    @include flex-between;
    padding: 50px 0px;
    gap: 25px;
    @include laptop-min {
      padding: 30px 0px 0px 0px;
    }

    .slider-arrow {
      @include laptop-min {
        display: none !important;
      }
    }
  }
  &__slider {
    flex: 0 1 1500px;
  }
  &__slide {
    display: flex !important;
    align-items: center;
    gap: 40px;
    box-sizing: border-box;

    opacity: 0 !important;

    &.swiper-slide-active {
      opacity: 1 !important;
    }
    @include laptop-min {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__info {
    max-width: 700px;
    @include laptop {
      max-width: 550px;
    }
    @include laptop-middle {
      max-width: 490px;
    }
    @include laptop-min {
      max-width: none;
      width: 100%;
    }

    .btn-play {
      margin-top: 20px;
      @media (min-width: 992px) {
        display: none;
      }
      @include tablet-min {
        margin: 20px auto 0 auto;
      }
    }
    .btn-p {
      margin-top: 20px;
      width: 80px;
      height: 80px;
      @media (min-width: 992px) {
        display: none;
      }
      @include tablet-min {
        margin: 20px auto 0 auto;
      }

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__content {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    @include laptop-min {
      font-size: 16px;
      max-width: 550px;
    }
  }
  &__price-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 15px;
    margin-top: 30px;
    .text {
      opacity: 0.7;
      font-size: 14px;
      max-width: 170px;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
    border-radius: 16px;
    padding: 25px;
    backdrop-filter: blur(10px);
    background: rgba(94, 100, 112, 0.2);

    span {
      font-weight: 600;
      font-size: 22px;
      color: var(--primary);
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__btn {
    margin-top: 30px;
    max-width: 100%;
    @include laptop-min {
      margin-top: 20px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
  &__show {
    position: relative;
    flex: 1;
  }
  &__gallery {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 1;
    .btn-play {
      position: absolute;
      z-index: 1;
      left: -50px;
      bottom: 85px;

      @include laptop {
        left: 0;
      }
      @include laptop-min {
        display: none;
      }
    }
    .btn-p {
      position: absolute;
      left: -40px;
      bottom: 220px;
      width: 100px;
      height: 100px;
      z-index: 1;
      @include laptop {
        left: 0;
      }
      @include laptop-min {
        display: none;
      }

      svg {
        width: 35px;
        height: 35px;
      }
    }
  }
  &__img {
    display: block;
  }
  &__list {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    backdrop-filter: blur(15px);
    background: rgba(40, 43, 49, 0.5);
    z-index: 10;

    @include desktop {
      position: static;
      margin-top: 30px;
      width: 100%;
    }
    @include laptop-min {
      flex-direction: column;
    }

    li {
      display: flex;
      align-items: start;
      gap: 15px;
      flex: 1 1 calc(33.333% - 14px);
      @include laptop-min {
        flex: auto;
        width: 100%;
      }

      &::before {
        display: block;
        content: "";
        margin-top: 9px;
        flex-shrink: 0;
        width: 6px;
        height: 6px;
        background-color: var(--primary);
      }
    }
  }
  &__player {
    max-width: 790px;
    width: 100%;
    margin-left: auto;
    @include desktop-middle {
      max-width: 700px;
    }
    @include laptop {
      max-width: 550px;
    }
    @include laptop-min {
      max-width: 750px;
      margin: 0 auto;
    }
  }
}
