@use "../base/templates" as *;
@use "../base/media" as *;

.s-opportunities {
  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 80px;
    @include laptop {
      gap: 30px;
    }
    @include laptop-min {
      flex-wrap: wrap;
    }
  }
  &__gallery {
    position: sticky;
    top: 170px;
    flex: 0 1 810px;
    @include laptop-min {
      flex: auto;
      max-width: 800px;
      width: 100%;
      margin: 0 auto;
      position: static;
    }
  }
  &__gallery-wrap {
    position: relative;
    .tag {
      position: absolute;
      display: flex;
      right: -40px;
      bottom: 40px;
      white-space: nowrap;
      z-index: 10;

      @include laptop {
        right: 20px;
        bottom: 20px;
      }
      @include tablet-min {
        right: 50%;
        transform: translateX(50%);
        bottom: 15px;
      }
    }
    .circle {
      @include flex-center;
      width: 68px;
      height: 68px;
      border-radius: 50px;
      background: rgba(94, 100, 112, 0.4);
      border: 1px solid rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(15px);
      flex-shrink: 0;

      @include laptop {
        width: 60px;
        height: 60px;
      }
      @include tablet {
        width: 50px;
        height: 50px;
      }

      img {
        display: block;
        width: 36px;

        @include laptop {
          width: 28px;
        }
        @include tablet {
          width: 25px;
        }
      }
    }
    .text {
      display: flex;
      align-items: center;
      padding: 12px 40px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 50px;

      backdrop-filter: blur(15px);
      background: rgba(94, 100, 112, 0.4);
      color: white;

      font-family: "BebasNeue", sans-serif;
      font-size: 24px;

      @include laptop {
        font-size: 20px;
        padding: 10px 20px;
      }
      @include tablet {
        font-size: 18px;
      }
      @include tablet-min {
        font-size: 16px;
      }
    }
  }
  &__gallery-img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    aspect-ratio: 1/0.6;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 1 870px;
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
  }
  &__item {
    border-radius: 20px;
    padding: 25px 50px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px 0 rgba(8, 25, 88, 0.1);
    background: rgba(255, 255, 255, 0.5);

    @include laptop {
      padding: 20px 30px;
    }
    @include tablet {
      padding: 15px 20px;
      border-radius: 16px;
    }

    .btn {
      @include flex-between;
      gap: 20px;
      padding: 20px 0px;
      cursor: pointer;

      user-select: none;
      font-family: "BebasNeue", sans-serif;
      font-size: 32px;

      @include laptop {
        font-size: 28px;
        padding: 15px 0px;
      }
      @include tablet {
        font-size: 24px;
        padding: 10px 0px;
      }

      &._spoller-active {
        svg {
          transform: rotate(180deg);
        }
      }

      svg {
        width: 15px;
        height: 15px;
        color: var(--primary);
        flex-shrink: 0;

        transition: transform 0.3s ease;
      }
    }
    .inside {
      padding: 10px 0px 20px 0px;
      @include laptop {
        padding-top: 0;
        padding-bottom: 15px;
      }
    }
    .content {
      margin: 0;
    }
    .list-mark {
      margin-top: 30px;
    }
  }
}
