@use "../base/templates" as *;
@use "../base/media" as *;

.s-preview {
  @include laptop-min {
    overflow: hidden;
  }
  &__slider {
    @include laptop-min {
      overflow: visible !important;
    }
    .swiper-wrapper {
      align-items: flex-end;
    }
  }
  &__slide {
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 1/0.8;
    height: auto !important;

    @include laptop-middle {
      width: 400px !important;
      max-width: 100%;
    }

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      transition: transform 0.3s linear;
    }
  }
}
