<section class="sect-m s-archive-case">
  <div class="container">
    <div class="sect-head">
      <h1 class="m-title">Наши кейсы</h1>
    </div>
    <div class="sect-nav swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide sect-nav__item _active">Все проекты</div>
        <div class="swiper-slide sect-nav__item">Автоматизация</div>
        <div class="swiper-slide sect-nav__item">Решения</div>
      </div>
    </div>
    <div class="s-archive-case__grid">
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
      <article class="card-case">
        <div class="card-case__main">
          <h3 class="card-case__title">Smorodina</h3>
          <div class="card-case__type">Кондитерская, кофейня</div>
          <div class="card-case__gallery">
            <img src="@img/case-2.jpg" alt="image" class="preview" />
            <div class="logo">
              <img src="@img/logo-case.jpg" alt="logo" />
            </div>
            <a href="@img/arrow-down-primary.svg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
          </div>
        </div>
        <div class="card-case__info">
          <h5 class="card-case__subtitle f-title">Какие задачи стояли:</h5>
          <div class="card-case__content content-box">
            <p>
              Мы вынуждены отталкиваться от того, что граница обучения кадров в
              значительной степени обусловливает важность прогресса
              профессионального сообщества. Также как внедрение современных
              методик играет важную роль в формировании дальнейших направлений
              развития.
            </p>
          </div>
          <div class="card-case__btn-more">
            <span>Подробнее</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div class="card-case__tags">
            <div class="card-case__subtitle f-title">Что было сделано:</div>
            <ul class="list card-case__tags-list">
              <li>Модуль доставки</li>
              <li>Приложение для курьеров</li>
              <li>Контроль рейтинга заведения</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <div class="btn-more btn-s _outline-black">Показать ещё</div>
  </div>
</section>
