<section class="sect-m s-archive-service">
  <div class="container">
    <div class="sect-head">
      <h1 class="m-title">Автоматизация</h1>
    </div>
    <div class="s-archive-service__wrapper">
      <a href="#" class="card-service">
        <div class="name">
          <span>Ресторан</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-rotate'></use>
          </svg>
        </div>
        <img src="@img/card-service.svg" alt="icon" class="icon">
      </a>
      <a href="#" class="card-service">
        <div class="name">
          <span>Сеть ресторанов</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-rotate'></use>
          </svg>
        </div>
        <img src="@img/card-service.svg" alt="icon" class="icon">
      </a>
      <a href="#" class="card-service">
        <div class="name">
          <span>Бар</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-rotate'></use>
          </svg>
        </div>
        <img src="@img/card-service.svg" alt="icon" class="icon">
      </a>
      <a href="#" class="card-service">
        <div class="name">
          <span>Стритфуд</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-rotate'></use>
          </svg>
        </div>
        <img src="@img/card-service.svg" alt="icon" class="icon">
      </a>
      <a href="#" class="card-service">
        <div class="name">
          <span>Пекарня</span>
          <svg>
            <use xlink:href='img/icons/icons.svg#icon-arrow-rotate'></use>
          </svg>
        </div>
        <img src="@img/card-service.svg" alt="icon" class="icon">
      </a>
    </div>
  </div>
</section>
