<section class="sect-m s-blog">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Блог</h2>
      <div class="sect-head__nav">
        <a href="#" class="btn-s _outline-black">Все статьи</a>
        <div class="slider-arrows">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper s-blog__slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card-article-big" style="background: url('@img/article-img.jpg') center / cover no-repeat;">
            <div class="card-article-big__body">
              <h3 class="card-article-big__title">Британские «ученые» заявили, что объемы выросли</h3>
              <div class="card-article-big__date">17.12.2026</div>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-article">
            <img src="@img/article-img.jpg" alt="image" class="card-article__img">
            <div class="card-article__body">
              <div class="card-article__date">17.12.2026</div>
              <h3 class="card-article__title">Британские «ученые» заявили, что герцог графства коронован</h3>
            </div>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card-article">
            <img src="@img/article-img.jpg" alt="image" class="card-article__img">
            <div class="card-article__body">
              <div class="card-article__date">17.12.2026</div>
              <h3 class="card-article__title">Давайте не забывать, что частотность поисковых запросов процветает, как ни в чем не бывало</h3>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
    <a href="#" class="btn-s s-blog__btn _outline-black">Все статьи</a>
  </div>
</section>
