<section class="sect-m s-connect">
  <div class="container">
    <div class="s-connect__body">
      <img src="@img/connect-decor-1.png" alt="image" class="s-connect__rects">
      <img src="@img/connect-decor-2.png" alt="image" class="s-connect__arrow">
      <h2 class="s-title s-connect__title">
        Оставить заявку на <span>обучение работе в iiko</span>
      </h2>
      <form action="#" class="s-connect__form">
        <div class="s-connect__form-wrapper">
          <div class="input-control">
            <input type="text" placeholder="Имя" class="input _transparent-white" />
          </div>
          <div class="input-control">
            <input type="tel" placeholder="Номер телефона" class="input _transparent-white" />
          </div>
          <button type="submit" class="btn-s _black">Оставить заявку</button>
        </div>
        <div class="check-wrapper _white">
          <span class="wpcf7-form-control-wrap" data-name="acceptance-84">
            <span class="wpcf7-form-control wpcf7-acceptance">
              <span class="wpcf7-list-item">
                <label>
                  <input
                    type="checkbox"
                    name="acceptance-84"
                    value="1"
                    required
                    aria-invalid="false"
                  />
                  <span class="wpcf7-list-item-label">
                    <span>
                      Я соглашаюсь с 
                      <a href="/personal-data" target="_blank">
                        Правилами обработки персональных данных
                      </a>
                    </span>
                  </span>
                </label>
              </span>
            </span>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>