<section class="s-decisions sect-m">
  <img
    src="@img/half-circles.png"
    alt="decor"
    class="s-decisions__circles-decor"
  />
  <img
    src="@img/tableware.png"
    alt="decor"
    class="s-decisions__tableware-decor"
  />
  <div class="container">
    <div class="s-decisions__wrapper tabs">
      <div class="s-decisions__main">
        <h2 class="s-title s-decisions__title">
          Готовые решения для общепита «под ключ»
        </h2>
        <div class="list-tag tabs-nav">
          <div data-tab-btn="decision-1" class="list-tag-item _active">
            Ресторан и кафе
          </div>
          <div data-tab-btn="decision-2" class="list-tag-item">Столовая</div>
          <div data-tab-btn="decision-3" class="list-tag-item">Бар</div>
          <div data-tab-btn="decision-4" class="list-tag-item">Кальянная</div>
          <div data-tab-btn="decision-5" class="list-tag-item">Фастфуд</div>
          <div data-tab-btn="decision-6" class="list-tag-item">Кофейня</div>
          <div data-tab-btn="decision-7" class="list-tag-item">Пекарная</div>
          <div data-tab-btn="decision-8" class="list-tag-item">Доставка</div>
        </div>
      </div>
      <div class="tabs-content s-decisions__tabs">
        <div data-tab="decision-1" class="_active _show">
          <div class="b-info">
            <h3 class="t-title b-info__title">Ресторан и кафе</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-2">
          <div class="b-info">
            <h3 class="t-title b-info__title">Столовая</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-3">
          <div class="b-info">
            <h3 class="t-title b-info__title">Бар</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-4">
          <div class="b-info">
            <h3 class="t-title b-info__title">Кальянная</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-5">
          <div class="b-info">
            <h3 class="t-title b-info__title">Фастфуд</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-6">
          <div class="b-info">
            <h3 class="t-title b-info__title">Кофейня</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-7">
          <div class="b-info">
            <h3 class="t-title b-info__title">Пекарная</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
        <div data-tab="decision-8">
          <div class="b-info">
            <h3 class="t-title b-info__title">Доставка</h3>
            <div class="b-info__content content-box">
              <p>
                С другой стороны, курс на социально-ориентированный национальный
                проект, а также свежий взгляд на привычные вещи — безусловно
                открывает новые горизонты для как самодостаточных, так и внешне
                зависимых концептуальных решений. Приятно, граждане, наблюдать,
                как реплицированные с зарубежных источников, современные
                исследования набирают популярность среди определенных слоев
                населения, а значит, должны быть описаны максимально подробно.
              </p>
            </div>
            <ul class="list b-info__list list-mark">
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Любой сотрудник разберётся за минуту — никаких долгих
                  обучений, только быстрые продажи
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Создавайте скидки, начисляйте бонусы, дарите подарки — всё
                  настраивается под ваш формат
                </span>
              </li>
              <li>
                <svg>
                  <use xlink:href="img/icons/icons.svg#icon-mark-circle"></use>
                </svg>
                <span>
                  Камеры синхронизированы с кассой: вы всегда видите, что
                  происходило в момент каждого чека
                </span>
              </li>
            </ul>
            <a href="#modal-feedback" class="btn-s b-info__btn">
              Оставить заявку
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
