<section class="s-faq sect-m">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Частые вопросы</h2>
    </div>
    <div data-spollers class="s-faq__items">
      <div class="s-faq__col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Не следует забывать, что небо темнеет!</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Мы вынуждены отталкиваться от того, что граница обучения
                  кадров в значительной степени обусловливает важность прогресса
                  профессионального сообщества. Также как внедрение современных
                  методик играет важную роль в формировании дальнейших
                  направлений развития. В целом, конечно,
                  социально-экономическое развитие предопределяет высокую
                  востребованность форм воздействия. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что элементы политического
                  процесса ограничены исключительно образом мышления.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Франция намерена исследовать, почему кровь стынет в жилах</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Мы вынуждены отталкиваться от того, что граница обучения
                  кадров в значительной степени обусловливает важность прогресса
                  профессионального сообщества. Также как внедрение современных
                  методик играет важную роль в формировании дальнейших
                  направлений развития. В целом, конечно,
                  социально-экономическое развитие предопределяет высокую
                  востребованность форм воздействия. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что элементы политического
                  процесса ограничены исключительно образом мышления.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-faq__col">
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Не следует забывать, что небо темнеет!</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Мы вынуждены отталкиваться от того, что граница обучения
                  кадров в значительной степени обусловливает важность прогресса
                  профессионального сообщества. Также как внедрение современных
                  методик играет важную роль в формировании дальнейших
                  направлений развития. В целом, конечно,
                  социально-экономическое развитие предопределяет высокую
                  востребованность форм воздействия. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что элементы политического
                  процесса ограничены исключительно образом мышления.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="s-faq__spoller">
          <div data-spoller class="s-faq__spoller-btn">
            <span>Франция намерена исследовать, почему кровь стынет в жилах</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="s-faq__spoller-body">
              <div class="content-box">
                <p>
                  Мы вынуждены отталкиваться от того, что граница обучения
                  кадров в значительной степени обусловливает важность прогресса
                  профессионального сообщества. Также как внедрение современных
                  методик играет важную роль в формировании дальнейших
                  направлений развития. В целом, конечно,
                  социально-экономическое развитие предопределяет высокую
                  востребованность форм воздействия. В своём стремлении улучшить
                  пользовательский опыт мы упускаем, что элементы политического
                  процесса ограничены исключительно образом мышления.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
