<section class="sect-m s-features">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Для кого это понадобится</h2>
    </div>
    <div class="s-features__grid">
      <article class="s-features__item">
        <div class="gallery">
          <img src="@img/features-1.png" alt="image" class="img" />
        </div>
        <div class="inside">
          <h3 class="tf-title title">Для официантов</h3>
          <p class="content">
            Внедрение инновационных IT-решений, направленных на повышение
            операционной эффективности и рост доходности бизнеса.
          </p>
        </div>
      </article>
      <article class="s-features__item">
        <div class="gallery">
          <img src="@img/features-2.png" alt="image" class="img" />
        </div>
        <div class="inside">
          <h3 class="tf-title title">Для шеф-поваров</h3>
          <p class="content">
            Предоставление проверенных технологий, укрепление рыночных позиций
            за счёт использования известного бренда и комплексная поддержка на
            всех этапах сотрудничества.
          </p>
        </div>
      </article>
      <article class="s-features__item">
        <div class="gallery">
          <img src="@img/features-1.png" alt="image" class="img" />
        </div>
        <div class="inside">
          <h3 class="tf-title title">Для владельцев заведения</h3>
          <p class="content">
            Возможность профессиональной реализации в динамично развивающейся
            компании с достойным уровнем оплаты труда и интересными задачами.
          </p>
        </div>
      </article>
      <article class="s-features__item">
        <div class="gallery">
          <img src="@img/features-2.png" alt="image" class="img" />
        </div>
        <div class="inside">
          <h3 class="tf-title title">Для всех</h3>
          <p class="content">
            Вывод ваших продуктов на широкую аудиторию через нашу партнёрскую сеть
            и отдел продаж.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
