<section class="sect-m s-gallery">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Что вас ждёт на обучении</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-gallery__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/about-bg.jpg"
          data-fancybox
          class="swiper-slide s-gallery__slide"
        >
          <img src="@img/about-img.jpg" alt="image" class="preview" />
          <div class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
        </a>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/about-img.jpg" alt="image" class="preview" />
          <div class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/about-img.jpg" alt="image" class="preview" />
          <div class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/about-img.jpg" alt="image" class="preview" />
          <div class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
        <div class="swiper-slide s-gallery__slide">
          <img src="@img/about-img.jpg" alt="image" class="preview" />
          <div class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-lock"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
