<section
  class="s-hero"
  style="background: url(&quot;@img/linear-bg.jpg&quot;) 0 0 / cover no-repeat"
>
  <img src="@img/decor.png" alt="image" class="s-hero__decor" />
  <div class="container">
    <div class="s-hero__body">
      <div class="breadcrumbs">
        <div class="container">
          <div class="aioseo-breadcrumbs">
            <span class="aioseo-breadcrumb">
              <a href="https://expo.qorix.ru" title="Главная">Главная</a>
            </span>
            <span class="aioseo-breadcrumb-separator">»</span>
            <span class="aioseo-breadcrumb">
              <a href="https://expo.qorix.ru" title="Главная">Решения</a>
            </span>
            <span class="aioseo-breadcrumb-separator">»</span>
            <span class="aioseo-breadcrumb">Сеть ресторанов</span>
          </div>
        </div>
      </div>
      <div class="s-hero__inside">
        <div class="s-hero__info">
          <h1 class="s-hero__title m-title">Автоматизация документооборота</h1>
          <p class="s-hero__content">
            Как уже неоднократно упомянуто, акционеры крупнейших компаний, которые представляют собой яркий пример континентально-европейского типа политической культуры, будут объединены в целые кластеры себе подобных.
          </p>
          <div class="s-hero__price-wrap">
            <div class="s-hero__price">
              от
              <span> 6 000 ₽</span>
              / мес.
            </div>
            <div class="text">Цена ориентировочная и просчитывается индивидуально</div>
          </div>
          <a href="@img/about-img.jpg" data-fancybox class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </a>
          <a href="#modal-feedback" data-fancybox class="btn-s s-hero__btn">
            <span>Оставить заявку</span>
            <svg class="arrow">
              <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
            </svg>
          </a>
        </div>
        <div class="s-hero__show">
          <div class="s-hero__gallery">
            <a href="@img/about-bg.jpg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
            <img src="@img/hero-img-2.png" alt="image" class="s-hero__img" />
          </div>
          <ul data-da=".s-hero__body, 1539" class="list s-hero__list">
            <li>Новый закон накладывает вето на старческий скрип Амстердама</li>
            <li>Подтверждено: ночь оказалась долгой</li>
            <li>Прототип нового сервиса — это как печальный плач оппозиции</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
