<section
  class="s-hero"
  style="background: url(&quot;@img/linear-bg.jpg&quot;) 0 0 / cover no-repeat"
>
  <img src="@img/decor.png" alt="image" class="s-hero__decor" />
  <div class="container">
    <div class="s-hero__body">
      <div class="breadcrumbs">
        <div class="container">
          <div class="aioseo-breadcrumbs">
            <span class="aioseo-breadcrumb">
              <a href="https://expo.qorix.ru" title="Главная">Главная</a>
            </span>
            <span class="aioseo-breadcrumb-separator">»</span>
            <span class="aioseo-breadcrumb">
              <a href="https://expo.qorix.ru" title="Главная">Услуги</a>
            </span>
            <span class="aioseo-breadcrumb-separator">»</span>
            <span class="aioseo-breadcrumb">
              Аудит товарно-складского учета
            </span>
          </div>
        </div>
      </div>
      <div class="s-hero__inside">
        <div class="s-hero__info">
          <h1 class="s-hero__title m-title">Аудит товарно-складского учета</h1>
          <div class="content-box s-hero__content">
            <p>
              Лишь многие известные личности смешаны с не уникальными данными до
              степени совершенной неузнаваемости, из-за чего возрастает их
              статус бесполезности.
            </p>
          </div>
          <div class="s-hero__price-wrap">
            <div class="s-hero__price">
              от
              <span>10 000 ₽</span>
              / мес.
            </div>
            <div class="text">
              Цена ориентировочная и просчитывается индивидуально
            </div>
          </div>
          <a href="@img/about-img.jpg" data-fancybox class="btn-p">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </a>
          <a href="#modal-feedback" data-fancybox class="btn-s s-hero__btn">
            <span>Оставить заявку</span>
          </a>
        </div>
        <div class="s-hero__show">
          <div class="s-hero__gallery">
            <a href="@img/about-bg.jpg" data-fancybox class="btn-p">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-play"></use>
              </svg>
            </a>
            <img src="@img/hero-img-3.png" alt="image" class="s-hero__img" />
          </div>
          <ul data-da=".s-hero__body, 1539" class="list s-hero__list">
            <li>Новый закон накладывает вето на старческий скрип Амстердама</li>
            <li>Подтверждено: ночь оказалась долгой</li>
            <li>Прототип нового сервиса — это как печальный плач оппозиции</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
