<section
  class="s-hero"
  style="background: url(&quot;@img/linear-bg.jpg&quot;) 0 0 / cover no-repeat"
>
  <img src="@img/decor.png" alt="image" class="s-hero__decor" />
  <div class="container">
    <div class="s-hero__wrapper">
      <div class="slider-arrow _prev _transparent">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
        </svg>
      </div>
      <div class="swiper s-hero__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__info">
              <h1 class="s-hero__title m-title">
                <span>Ресто Тех</span>
                — IT и учет в ресторанном бизнесе
              </h1>
              <p class="s-hero__content">
                На выставках и конференциях важно привлечь внимание
                потенциальных клиентов и партнеров
              </p>
              <a href="#" class="btn-s s-hero__btn">
                <span>Подробнее</span>
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </a>
              <a
                href="@img/arrow-down-primary.svg"
                data-fancybox
                class="btn-play"
              >
                <div class="circle">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                </div>
                <div class="text">О системе</div>
              </a>
            </div>
            <div class="s-hero__show">
              <div class="s-hero__gallery">
                <a
                  href="@img/arrow-down-primary.svg"
                  data-fancybox
                  class="btn-play"
                >
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                  <div class="text">О системе</div>
                </a>
                <img src="@img/hero-img.png" alt="image" class="s-hero__img" />
              </div>
            </div>
          </div>
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__info">
              <h2 class="s-hero__title m-title">
                <span>Ресто Тех</span>
                — IT и учет в ресторанном бизнесе 2
              </h2>
              <p class="s-hero__content">
                На выставках и конференциях важно привлечь внимание
                потенциальных клиентов и партнеров
              </p>
              <a href="#" class="btn-s s-hero__btn">
                <span>Подробнее</span>
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </a>
              <a
                href="@img/arrow-down-primary.svg"
                data-fancybox
                class="btn-play"
              >
                <div class="circle">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                </div>
                <div class="text">О системе</div>
              </a>
            </div>
            <div class="s-hero__show">
              <div class="s-hero__gallery">
                <a
                  href="@img/arrow-down-primary.svg"
                  data-fancybox
                  class="btn-play"
                >
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                  <div class="text">О системе</div>
                </a>
                <img
                  src="@img/hero-img-2.png"
                  alt="image"
                  class="s-hero__img"
                />
              </div>
            </div>
          </div>
          <div class="swiper-slide s-hero__slide">
            <div class="s-hero__info">
              <h2 class="s-hero__title m-title">
                <span>Ресто Тех</span>
                — IT и учет в ресторанном бизнесе 3
              </h2>
              <p class="s-hero__content">
                На выставках и конференциях важно привлечь внимание
                потенциальных клиентов и партнеров
              </p>
              <a href="#" class="btn-s s-hero__btn">
                <span>Подробнее</span>
                <svg class="arrow">
                  <use xlink:href="img/icons/icons.svg#icon-arrow-rotate"></use>
                </svg>
              </a>
              <a
                href="@img/arrow-down-primary.svg"
                data-fancybox
                class="btn-play"
              >
                <div class="circle">
                  <svg>
                    <use xlink:href="img/icons/icons.svg#icon-play"></use>
                  </svg>
                </div>
                <div class="text">О системе</div>
              </a>
            </div>
            <div class="s-hero__show">
              <div class="s-hero__gallery">
                <a
                  href="@img/arrow-down-primary.svg"
                  data-fancybox
                  class="btn-play"
                >
                  <div class="circle">
                    <svg>
                      <use xlink:href="img/icons/icons.svg#icon-play"></use>
                    </svg>
                  </div>
                  <div class="text">О системе</div>
                </a>
                <img
                  src="@img/hero-img-2.png"
                  alt="image"
                  class="s-hero__img"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-arrow _next _transparent">
        <svg>
          <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
        </svg>
      </div>
    </div>
    <div class="slider-pagination _lap _white"></div>
  </div>
</section>
