<section class="sect-m s-opportunities">
  <div class="container">
    <div class="s-opportunities__wrapper">
      <div class="s-opportunities__gallery">
        <div class="s-opportunities__gallery-wrap">
          <img src="@img/opportunities.jpg" alt="image" class="img" enter-class="s-opportunities__gallery-img" />
          <div class="tag">
            <div class="circle">
              <img src="@img/bike.svg" alt="icon" />
            </div>
            <div class="text">Принимайте заказы на доставку отовсюду</div>
          </div>
        </div>
      </div>
      <div data-spollers class="s-opportunities__items">
        <div class="s-opportunities__item">
          <div data-spoller class="btn _spoller-active">
            <span>Интеграция со службами доставки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="inside">
              <p class="content">
                Принимайте заказы прямо на кассе. Программа iiko распознает
                постоянных клиентов, помогает корректно внести данные о новых,
                консолидирует и распределяет заказы из различных источников, а
                также предоставляет оператору информацию об акциях и статусе
                клиента в системе лояльности.
              </p>
              <ul class="list list-mark">
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Управление статусами заказа</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Контроль времени доставки</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Оперативная связь с курьером</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-opportunities__item">
          <div data-spoller class="btn">
            <span>Отслеживание передвижений курьеров</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="inside">
              <p class="content">
                Принимайте заказы прямо на кассе. Программа iiko распознает
                постоянных клиентов, помогает корректно внести данные о новых,
                консолидирует и распределяет заказы из различных источников, а
                также предоставляет оператору информацию об акциях и статусе
                клиента в системе лояльности.
              </p>
              <ul class="list list-mark">
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Управление статусами заказа</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Контроль времени доставки</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Оперативная связь с курьером</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-opportunities__item">
          <div data-spoller class="btn">
            <span>Запуск собственного сайта доставки</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="inside">
              <p class="content">
                Принимайте заказы прямо на кассе. Программа iiko распознает
                постоянных клиентов, помогает корректно внести данные о новых,
                консолидирует и распределяет заказы из различных источников, а
                также предоставляет оператору информацию об акциях и статусе
                клиента в системе лояльности.
              </p>
              <ul class="list list-mark">
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Управление статусами заказа</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Контроль времени доставки</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Оперативная связь с курьером</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="s-opportunities__item">
          <div data-spoller class="btn">
            <span>Контроль выполнения заказов</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-down"></use>
            </svg>
          </div>
          <div>
            <div class="inside">
              <p class="content">
                Принимайте заказы прямо на кассе. Программа iiko распознает
                постоянных клиентов, помогает корректно внести данные о новых,
                консолидирует и распределяет заказы из различных источников, а
                также предоставляет оператору информацию об акциях и статусе
                клиента в системе лояльности.
              </p>
              <ul class="list list-mark">
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Управление статусами заказа</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Контроль времени доставки</span>
                </li>
                <li>
                  <svg>
                    <use xlink:href='img/icons/icons.svg#icon-mark-circle'></use>
                  </svg>
                  <span>Оперативная связь с курьером</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
