<section class="sect-m s-preview">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наш офис</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-preview__slider">
      <div class="swiper-wrapper">
        <a
          href="@img/preview.jpg"
          data-fancybox="office"
          class="swiper-slide s-preview__slide"
        >
          <img src="@img/preview.jpg" alt="image" />
        </a>
        <a
          href="@img/preview.jpg"
          data-fancybox="office"
          class="swiper-slide s-preview__slide"
        >
          <img src="@img/preview.jpg" alt="image" />
        </a>
        <a
          href="@img/preview.jpg"
          data-fancybox="office"
          class="swiper-slide s-preview__slide"
        >
          <img src="@img/preview.jpg" alt="image" />
        </a>
        <a
          href="@img/preview.jpg"
          data-fancybox="office"
          class="swiper-slide s-preview__slide"
        >
          <img src="@img/preview.jpg" alt="image" />
        </a>
        <a
          href="@img/preview.jpg"
          data-fancybox="office"
          class="swiper-slide s-preview__slide"
        >
          <img src="@img/preview.jpg" alt="image" />
        </a>
      </div>
      <div class="slider-pagination _lap"></div>
    </div>
  </div>
</section>
