<section class="sect-m s-requisites">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Наши реквизиты</h2>
    </div>
    <div class="s-requisites__wrap">
      <div class="s-requisites__item">
        <div class="name">Полное наименование:</div>
        <div class="inside">
          <span>Полное наименование</span>
          <div data-copy="Полное наименование" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="name">Сокращенное наименование:</div>
        <div class="inside">
          <span>Сокращенное наименование:</span>
          <div data-copy="Сокращенное наименование:" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="name">Юридический, фактический и почтовый адрес:</div>
        <div class="inside">
          <span>Юридический, фактический и почтовый адрес:</span>
          <div data-copy="Юридический, фактический и почтовый адрес:" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="name">ИНН:</div>
        <div class="inside">
          <span>123123123</span>
          <div data-copy="123123123" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="name">КПП: </div>
        <div class="inside">
          <span>123123111131</span>
          <div data-copy="123123111131" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
      <div class="s-requisites__item">
        <div class="name">ОГРН:</div>
        <div class="inside">
          <span>15123123123123123</span>
          <div data-copy="15123123123123123" class="copy-btn">
            <span>Копировать</span>
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-copy"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div data-copy="Полное наименование: Полное наименование:&#10Сокращенное наименование: Сокращенное наименование:&#10Полное наименование: Полное наименование:&#10Сокращенное наименование: Сокращенное наименование:" class="s-requisites__copy-all btn-s">Скопировать все</div>
  </div>
</section>
