<section class="sect-m s-spollers">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Цены на дополнительные услуги</h2>
    </div>
    <div data-spollers class="s-spollers__items">
      <div class="s-spollers__item spoller">
        <div data-spoller class="spoller-btn">
          <span class="tf-title">Доставка готовых блюд</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="spoller-body">
            <div class="s-spollers__item-table">
              <div class="head">
                <div class="row">
                  <div class="cell">Услуга</div>
                  <div class="cell">Стоимость</div>
                  <div class="cell">Особенности</div>
                </div>
              </div>
              <div class="table-body">
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Start
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>2300 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell"></div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-spollers__item spoller">
        <div data-spoller class="spoller-btn">
          <span class="tf-title">Управление лояльностью гостей</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="spoller-body">
            <div class="s-spollers__item-table">
              <div class="head">
                <div class="row">
                  <div class="cell">Услуга</div>
                  <div class="cell">Стоимость</div>
                  <div class="cell">Особенности</div>
                </div>
              </div>
              <div class="table-body">
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Start
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>2300 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell"></div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-spollers__item spoller">
        <div data-spoller class="spoller-btn">
          <span class="tf-title">Подключение сторонних приложений</span>
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-down"></use>
          </svg>
        </div>
        <div>
          <div class="spoller-body">
            <div class="s-spollers__item-table">
              <div class="head">
                <div class="row">
                  <div class="cell">Услуга</div>
                  <div class="cell">Стоимость</div>
                  <div class="cell">Особенности</div>
                </div>
              </div>
              <div class="table-body">
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Start
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>2300 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell"></div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
                <div class="row">
                  <div class="cell">
                    <span class="name">Услуга</span>
                    <span>
                      Приложение «Доставка» для iikoWeb, уровень Pro (для сети
                      до 4 ресторанов)
                    </span>
                  </div>
                  <div class="cell">
                    <span class="name">Стоимость</span>
                    <span>5000 ₽/мес за 1 заведение</span>
                  </div>
                  <div class="cell">
                    <span class="name">Особенности</span>
                    <span>Недоступно на тарифе Тариф 1</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
