<section class="sect-m s-tasks">
  <div class="container s-tasks__container">
    <img src="@img/decor-sect.png" alt="image" class="s-tasks__decor" />
    <div class="sect-head">
      <h2 class="s-title">Какие задачи мы решаем</h2>
      <div class="slider-arrows">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-arrow-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-tasks__slider">
      <div class="swiper-wrapper">
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Финансы вне контроля</h3>
          <p class="content">
            iiko делает денежные потоки полностью прозрачными. Продажи — онлайн,
            план — под контролем, подозрительные операции — на виду.
          </p>
        </article>
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Отсутствие учета на складе</h3>
          <p class="content">
            iiko наводит порядок в остатках. Удобный учет с телефона, быстрая
            инвентаризация, никаких неожиданных стоп-листов и потерянной выручки
          </p>
        </article>
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Человеческий фактор</h3>
          <p class="content">
            С iiko официанты работают чётко и быстро: приняли заказ на смартфон
            — и уже через минуту он на кухне. Никакой путаницы, никаких забытых
            позиций. Только внимательное отношение к гостю и безупречный сервис,
            который хочется отмечать в отзывах.
          </p>
        </article>
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Финансы вне контроля</h3>
          <p class="content">
            iiko делает денежные потоки полностью прозрачными. Продажи — онлайн,
            план — под контролем, подозрительные операции — на виду.
          </p>
        </article>
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Отсутствие учета на складе</h3>
          <p class="content">
            iiko наводит порядок в остатках. Удобный учет с телефона, быстрая
            инвентаризация, никаких неожиданных стоп-листов и потерянной выручки
          </p>
        </article>
        <article class="swiper-slide s-tasks__slide">
          <img src="@img/task-icon.svg" alt="icon" class="icon" />
          <h3 class="title">Человеческий фактор</h3>
          <p class="content">
            С iiko официанты работают чётко и быстро: приняли заказ на смартфон
            — и уже через минуту он на кухне. Никакой путаницы, никаких забытых
            позиций. Только внимательное отношение к гостю и безупречный сервис,
            который хочется отмечать в отзывах.
          </p>
        </article>
      </div>
    </div>
    <div class="slider-pagination _lap"></div>
  </div>
</section>
