<section
  class="s-why sect-p"
  style="
    background: url(&quot;@img/simple-bg.jpg&quot;) center / cover no-repeat;
  "
>
  <img src="@img/decor.png" alt="image" class="s-why__decor">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title">Почему выбирают нас?</h2>
    </div>
    <div class="s-why__grid">
      <div class="s-why__item">
        <h3 class="f-title title">Неподкупность государственных СМИ бодрит</h3>
        <p class="content">
          Время от создания макета до застройки вашего выставочного стенда
          минимально, сопровождение проекта на всех этапах гарантия качества и
          скорости выполнения работы
        </p>
      </div>
      <div class="s-why__item">
        <h3 class="f-title title">Оказывается, прототип — не панацея</h3>
        <p class="content">
          Противоположная точка зрения подразумевает, что диаграммы связей
          освещают чрезвычайно интересные особенности картины в целом, однако
          конкретные выводы, разумеется, объявлены нарушающими общечеловеческие
          нормы этики и морали
        </p>
      </div>
      <div class="s-why__item">
        <h3 class="f-title title">Собственное производство</h3>
        <p class="content">
          Банальные, но неопровержимые выводы, а также некоторые особенности
          внутренней политики призывают нас к новым свершениям, которые, в свою
          очередь, должны быть объявлены нарушающими общечеловеческие нормы
          этики и морали
        </p>
      </div>
      <div class="s-why__item">
        <h3 class="f-title title">Неподкупность государственных СМИ бодрит</h3>
        <p class="content">
          Время от создания макета до застройки вашего выставочного стенда
          минимально, сопровождение проекта на всех этапах гарантия качества и
          скорости выполнения работы
        </p>
      </div>
      <div class="s-why__item">
        <h3 class="f-title title">Оказывается, прототип — не панацея</h3>
        <p class="content">
          Противоположная точка зрения подразумевает, что диаграммы связей
          освещают чрезвычайно интересные особенности картины в целом, однако
          конкретные выводы, разумеется, объявлены нарушающими общечеловеческие
          нормы этики и морали
        </p>
      </div>
      <div class="s-why__item">
        <h3 class="f-title title">Собственное производство</h3>
        <p class="content">
          Банальные, но неопровержимые выводы, а также некоторые особенности
          внутренней политики призывают нас к новым свершениям, которые, в свою
          очередь, должны быть объявлены нарушающими общечеловеческие нормы
          этики и морали
        </p>
      </div>
    </div>
  </div>
</section>
