@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --background: var(--primary);
  --border: var(--primary);
  --color: white;
  --background-h: var(--primary-hover);
  --border-h: var(--primary-hover);
  --color-h: white;

  @include flex-center;

  width: fit-content;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  padding: 19px 39px;
  background-color: var(--background);
  border: 1px solid var(--border);
  gap: 15px;

  text-align: center;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--color);
  user-select: none;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease;
  @include hover {
    color: var(--color-h);
    background-color: var(--background-h);
    border-color: var(--border-h);

    .arrow {
      transform: rotate(45deg);
    }
  }

  @include tablet {
    padding: 15px 25px;
  }

  &._black {
    --background: var(--black);
    --border: var(--black);
  }
  &._outline-black {
    --background: transparent;
    --border: var(--black);
    --color: var(--black);
    --background-h: var(--black);
    --border-h: var(--black);
    --color-h: white;
  }

  .arrow {
    width: 12px;
    height: 12px;

    transition: transform 0.3s ease;
  }
}

.btn-play {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: fit-content;

  @include hover {
    .circle {
      &::before {
        inset: 0;
      }
    }
  }

  .circle {
    @include flex-center;
    position: relative;
    width: 130px;
    aspect-ratio: 1/1;
    z-index: 1;
    border-radius: 50%;
    backdrop-filter: blur(10px);
    background: rgba(94, 100, 112, 0.2);
    color: white;

    @include laptop-middle {
      width: 90px;
    }

    &::before {
      position: absolute;
      content: "";
      inset: 15px;
      border-radius: 100px;
      background: rgba(46, 214, 161, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.5);
      z-index: -1;

      transition: inset 0.3s ease;

      @include laptop-middle {
        inset: 10px;
      }
    }

    svg {
      width: 35px;
      height: 35px;

      @include laptop-min {
        width: 25px;
        height: 25px;
      }
    }
  }
  .text {
    padding: 10px 15px;
    backdrop-filter: blur(10px);
    background: rgba(94, 100, 112, 0.2);
    border-radius: 100px;

    @include laptop-middle {
      padding: 8px;
      font-size: 15px;
    }
  }
}

.btn-p {
  --border: rgba(255, 255, 255, 0.5);
  --border-h: rgba(255, 255, 255, 0.5);
  --background: rgba(46, 214, 161, 0.5);
  --background-h: rgba(46, 214, 161, 1);
  --color: white;
  --color-h: white;

  @include flex-center;
  cursor: pointer;
  width: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  backdrop-filter: blur(10px);
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);

  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  @include hover {
    background-color: var(--background-h);
    border-color: var(--border-h);
    color: var(--color-h);
  }

  &._primary {
    --border: var(--primary);
    --border-h: var(--primary-hover);
    --background: var(--primary);
    --background-h: var(--primary-hover);
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.btn-more {
  width: 400px;
  max-width: 100%;
  margin: 40px auto 0px auto;

  @include laptop-min {
    margin-top: 30px;
  }
  @include tablet-min {
    width: 100%;
  }
}