@use "../base/templates" as *;
@use "../base/media" as *;

.card-tariff {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 30px 0 rgba(8, 25, 88, 0.1);
  background: linear-gradient(180deg, #f4f5f7 0%, #fff 100%);
  @include tablet {
    border-radius: 24px;
  }
  &__head {
    position: relative;
    text-align: center;
    padding: 25px;
    background: linear-gradient(180deg, #2fb9b7 0%, #2ed6a1 100%);
    color: white;
    @include tablet {
      padding: 20px;
    }
  }
  &__title {
    font-family: "BebasNeue", sans-serif;
    font-size: 32px;
    line-height: 110%;
    margin: 0px 0px 5px 0px;
    @include tablet {
      font-size: 28px;
    }
  }
  &__type {
    font-size: 15px;
    line-height: 150%;
  }
  &__icon {
    position: absolute;
    right: 30px;
    top: 10px;
    width: 65px;
    z-index: 1;

    @include tablet {
      width: 45px;
      right: 15px;
    }
  }
  &__body {
    padding: 30px 40px;
    flex: 1;
    @include tablet {
      padding: 25px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet {
      gap: 15px;
    }
    li {
      display: flex;
      align-items: center;
      gap: 15px;

      line-height: 150%;

      @include tablet {
        gap: 12px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-l);
        padding-bottom: 20px;

        @include tablet {
          padding-bottom: 15px;
        }
      }

      svg {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        @include tablet {
          width: 20px;
          height: 20px;
        }

        &.red {
          color: var(--red);
        }
        &.green {
          color: var(--primary);
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 40px;
    background: linear-gradient(180deg, #f4f5f7 0%, #fff 100%);
    @include tablet {
      padding: 20px;  
    }
  }
  &__price {
    font-family: "BebasNeue", sans-serif;
    font-size: 32px;
    line-height: 110%;
    @include tablet {
      font-size: 28px;
    }
  }
  &__btn {
    margin-top: 20px;
    @include tablet {
      width: 300px;
      max-width: 100%;
    }
  }
}
