@use "../base/templates" as *;
@use "../base/media" as *;

.slider-arrows {
  display: flex;
  flex-shrink: 0;
  gap: 10px;

  @include tablet {
    display: none;
  }
}
.slider-arrow {
  --background: white;
  --background-h: var(--primary);
  --color: var(--black);
  --color-h: var(--black);
  --border: rgba(43, 46, 52, 0.1);
  --border-h: var(--primary);

  @include flex-center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  background-color: var(--background);
  color: var(--color);
  border-radius: 50%;
  flex-shrink: 0;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    background-color 0.3s ease,
    opacity 0.3s ease;

  @include laptop-min {
    width: 45px;
    height: 45px;
  }
  @include hover {
    color: var(--color-h);
    border-color: var(--border-h);
    background-color: var(--background-h);
  }

  svg {
    width: 16px;
    height: 16px;

    @include laptop-min {
      width: 14px;
      height: 14px;
    }
  }

  &.swiper-button-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  &.swiper-button-lock {
    display: none;
  }
  &._transparent {
    --background: transparent;
    --background-h: transparent;
    --color: white;
    --color-h: var(--primary);
    --border: rgba(255, 255, 255, 0.1);
    --border-h: var(--primary);
  }
}

.slider-pagination {
  --color: var(--primary);
  --color-a: var(--primary-hover);
  @include flex-center;
  gap: 7px;
  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
  }

  &._white {
    --color: white;
    --color-a: var(--primary);
  }

  .swiper-pagination-bullet {
    display: block;
    margin: 0 !important;
    opacity: 1;
    width: 10px;
    height: 10px;
    background-color: var(--color);

    transition: background-color 0.3s ease;

    &.swiper-pagination-bullet-active {
      background-color: var(--color-a);
    }
  }

  &._lap {
    @media (min-width: 992px) {
      display: none;
    }
  }
}
